{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
<section class="article-detail">
    <div class="breadcrumbs">
        <div class="container">
            <a href="{% url 'home' %}">{% trans "Home" %}</a> > <a href="{{ object.category.get_absolute_url }}">{{ object.category.name }}</a> > {{ object.name }}
        </div>
    </div>
    <div class="info-container">
        <div class="container">
            <h1>{{ object.name }}</h1>
            <div class="last-update">{% trans "Last updated" %} {{ object.updated_at }}</div>
            {% if object.is_private %}
            <blockquote>{% trans "This is private article. Only authenticated users can see it." %}</blockquote>
            {% endif %}
            <article>
                {{ object.content_markdown|safe }}
            </article>
            <h6>{% trans "Was this article helpful?" %}</h6>
            {% if voted_article_list not in request.session or object.id not in request.session.voted_article_list %}
            <div class="vote-buttons">
                <ul>
                    <li class="vote-up">
                        <div class="btn green">{% trans "It worked for me" %}</div>
                    </li>
                    <li class="vote-down">
                        <div class="btn red">{% trans "It was not helpful" %}</div>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(document).ready(function () {
    // Upvote
    $('div.vote-buttons li.vote-up').click(function () {
        $.get("{% url 'article_upvote' object.category.slug object.slug %}", function(response) {
            $('li.vote-up').addClass('selected');
            $('li.vote-down button').prop('disabled', true);
        });

        return false;
    });

    // Downvote
    $('div.vote-buttons li.vote-down').click(function () {
        $.get("{% url 'article_downvote' object.category.slug object.slug %}", function(response) {
            $('li.vote-down').addClass('selected');
            $('li.vote-up button').prop('disabled', true);
        });

        return false;
    });
});
</script>
{% endblock %}
