{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans "Search results" %}{% endblock %}

{% block content %}
<section class="article-search">
    <div class="container">
        <div class="search-box-container">
            {% include '_search_box.html' %}
        </div>

        <div class="breadcrumbs">
            <small><a href="{% url 'home' %}">{% trans "Home" %}</a></small> > {% trans "Search results" %}
        </div>

        {% for article in object_list %}
            <h1>{{ article.name }}</h1>
            <p>
                {{ article.content_markdown|truncatewords_html:20|safe }}
            </p>
            <a href="{% url 'article_detail' article.category.slug article.slug %}">Leer más...</a>
        {% empty %}
            <p>No se encuentran resultados acordes con tu búsqueda, puedes abrir un nuevo tiquete con tu pregunta.</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
