{% extends 'layout/base.html' %}

{% block content %}
    {% include '_search_box.html' %}
    {% for category in category_list %}
        <h1>
            <a href="{% url 'category_detail' category.1 %}">{{ category.0 }}</a>
        </h1>
        <ul>
        {% for article in category.2|slice:":5" %}
            <li>
                <a href="{% url 'article_detail' article.slug %}">{{ article.name }}</a>
            </li>
        {% endfor %}
        </ul>
        {% if category.2.count > 5 %}
            <a href="{% url 'category_detail' category.1 %}">Ver todos</a>
        {% endif %}
    {% endfor %}

{% endblock %}
