{% extends 'layout/base.html' %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
    <h1>{% trans "Knowledge Base" %}</h1>

    {% include '_search_box.html' %}

    {% for category in object_list %}
        <article>
            <h2><a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></h2>
            <ul>
            {% for article in category.active_articles_list|slice:":5" %}
                <li>
                    <a href="{% url 'article_detail' article.slug %}">{{ article.name }}</a>
                </li>
            {% endfor %}
            </ul>
            {% if category.active_articles_list.count > 5 %}
                <p><a href="{% url 'category_detail' category.slug %}">{% trans "View All" %}</a></p>
            {% endif %}
        </article>
    {% endfor %}

{% endblock %}
